<tr class="user_item" data-uid="{{id}}" data-deleted="{{deleted}}">
        <td class="name">{{name}}</td>
        <td class="email">{{email}}</td>
        <td class="score">{{score}}</td>
        <td>
            <button type="button" class="edit btn btn-info">Edit</button>
            <button type="button" class="delete btn btn-danger">Delete</button>
        </td>
</tr>
